body {
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: lightgray;
    display: flex;

    justify-content: center;

}

.cards {
    display: flex;
    flex-direction: column;
    width: 254px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, .1);
    cursor: pointer;
}

.image_one {
    border-radius: 3px;
    width: 15.9rem;
    height: 9.3rem;
}

h3 {
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 6px;
    font-size: 15px;
}

span {
    margin-top: 0;
    margin-left: 6px;
    font-size: 11px;
    color: silver;
}

p {
    color: silver;
    font-size: 13px;
    text-align: center;
    margin-top: 10px;

}

.footer {
    display: flex;
    height: 40px;
    align-items: center;


}

button {
    background-color: white;
    color: blue;
    border: none;
    cursor: pointer;
    padding-left: 10px;
}

button:hover {
    background-color: silver;
}

.body:hover {
    background-color: #D3DEDC;
}

.header:hover {
    background-color: #D3DEDC;
}