body {
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: silver;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;


}

.alert_dialog {
    width: 220px;
    height: 180px;
    border: 1px solid white;
    background-color: white;
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, .1);

}

.header {
    padding-left: 10px;
    font-weight: lighter;
}

.body {
    height: 53px;
    padding-left: 10px;
    color: gray;
    font-size: 15px;
}

.footer {

    display: flex;
    justify-content: space-evenly;
    padding-left: .8rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

button {
    border: none;
    color: blue;
    font-size: 16px;
    background-color: white;
    padding: .5rem;
    cursor: pointer;
}

button:hover {
    background-color: #D6E5FA;

}

/*  Simple dialog */


.simple_dialog {
    width: 200px;
    height: max-content;
    border: 1px solid white;
    background-color: white;
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, .1);

}

.header_one {
    padding-left: 14px;
    font-weight: lighter;

}


.body_one {
    display: flex;
    flex-direction: column;

}

.body_one ul {
    list-style: none;
}

.body_one ul li {

    display: block;
    padding: .6rem;


}

.body_one ul li a {

    text-decoration: none;
    font-size: 1.4rem;
}

.body_one ul li:hover {
    background-color: #FFF2F9;
}

/* section */
.confirmation {

    height: max-content;
    border: 1px solid white;
    background-color: white;
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, .1);


}

.header_two {
    padding-left: 17px;
    font-weight: lighter;

}

.body_two {
    width: 200px;
    display: flex;
    flex-direction: column;
    line-height: 2rem;
    align-items: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
    height: 75px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid gray;
    border-left-style: hidden;
    border-right-style: hidden;
}