body {
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: gray;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

}

.fixed {
    width: 400px;
    height: 180px;

    overflow: hidden;
    display: flex;
    justify-content: center;

}

.tab {
    align-self: center;
    border: none;
    outline: none;
    padding: 14px 16px;
    cursor: pointer;
    transition: .3s;
    font-size: 17px;

}

.tab:hover {
    color: blue;
    background-color: #ddd;
    border: 1px solid blue;
    border-style: hidden hidden solid hidden;
}

i {
    padding-right: 3.3px;
}

/* leading icon */

.box_one {
    align-self: center;
    
    
}

.tab_one {
    border: none;
    outline: none;
    padding: 14px 16px;
    cursor: pointer;
    transition: .3s;
    font-size: 17px;

}
a{
 padding: 3rem;
    
}
 
.tab_one:hover{
    color: blue;
    background-color: #ddd;
    border: 1px solid blue;
    border-style: hidden hidden solid hidden;
}